<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% if title %}{{ title }}{% else %}Flask App
        {% endif %}
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename="fa-free/css/all.min.css") }}">
</head>

<body>
<header class="hero-head">
            {% include 'inc/nav.html' %}
</header>

    {% block fullbody %}
    
    <section class="hero is-primary is-fullheight">

        

        <div class="hero-body">
            <div class="container">
                {% block flask_msgs %}
                
                            {% with messages = get_flashed_messages() %}
                            {% if messages %}
                            <div class="column is-4 is-offset-4">
                                <div class="box">
                                    <div class="notification is-danger has-text-centered">
                                        {{ messages[0] }}
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% endwith %}    
                
                {% endblock flask_msgs %}

            {% block content %}
            {% endblock content %}
            </div>
        </div>
    </section>
    {% endblock fullbody %}

    {% block meetjs %}
    {% endblock meetjs %}
    <script src="{{ url_for('static', filename="fa-free/js/all.min.js") }}"></script>
    <script src="{{ url_for('static', filename="bulma/js/bulma.js") }}"></script>
</body>

</html>