            <nav class="navbar">
                <div class="container">

                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">
                            <a href="{{ url_for('home.index') }}" class="navbar-item">
                                Home
                            </a>
                            <a href="#" class="navbar-item">
                                Profile
                            </a>
                            <a href="#" class="navbar-item">
                                Login
                            </a>
                            <a href="#" class="navbar-item">
                                Sign Up
                            </a>
                            <a href="#" class="navbar-item">
                                Logout
                            </a>
                        </div>
                    </div>
                </div>
            </nav>